<ng-container *ngIf="isLoaded">
  <div class="surface-section  py-4 lg:py-5 lg:px-6 h-full w-full border-round-top-3xl">
    <div class="flex flex-column md:flex-row w-full md:justify-content-between justify-content-center md:align-items-center">
      <div class="md:ml-2">
        <h2 class="mt-0 mb-2 text-900 font-medium text-2xl md:text-left text-center">Dashboard</h2>
        <p class="mt-0 mb-0 text-500 md:text-left text-center">Para uma melhor experiência, utilize aparelhos com uma tela maior.</p>
      </div>
      <div class="mt-3  md:w-15rem  md:text-left text-center">
        <p-calendar #calendar [(ngModel)]="formDate" [ngModelOptions]="{standalone: true}" (onSelect)="dateChange()"
          [readonlyInput]="true" showButtonBar="true" appendTo="body"></p-calendar>
      </div>
    </div>
    <p-divider styleClass="my-5"></p-divider>

    <div class="p-fluid flex flex-column flex-row">
      <ul
        class="list-none m-0 p-0 flex flex-row  justify-content-between mb-5 ">
        <li>
          <a pRipple
            class="lg:w-15rem flex align-items-center cursor-pointer p-3 border-round hover:surface-200 
            transition-duration-150 transition-colors"
            [ngClass]="{'surface-200': tabOpcoes === 0}" (click)="tabOpcoes = 0">
            <i class="pi pi-calendar md:mr-2"
              [ngClass]="{'text-700' : tabOpcoes === 0, 'text-600': tabOpcoes !== 0}"></i>
            <span class="font-medium hidden md:block"
              [ngClass]="{'text-800': tabOpcoes === 0, 'text-700': tabOpcoes !== 0}">Mês</span>
          </a>
        </li>
        <li>
          <a pRipple
            class="lg:w-15rem flex align-items-center cursor-pointer p-3 border-round hover:surface-200 transition-duration-150 transition-colors"
            [ngClass]="{'surface-200': tabOpcoes === 1}" (click)="tabOpcoes = 1">
            <i class="pi pi-calendar-plus md:mr-2"
              [ngClass]="{'text-700' : tabOpcoes === 1, 'text-600': tabOpcoes !== 1}"></i>
            <span class="font-medium hidden md:block"
              [ngClass]="{'text-800': tabOpcoes === 1, 'text-700': tabOpcoes !== 1}">Diário</span>
          </a>
        </li>
      </ul>

      <ng-container *ngIf="tabOpcoes == 0">
          <div class="grid flex justify-content-between md:align-items-center w-full">

            <div class="col-12 mx-auto">
              <div class="surface-card shadow-2 border-round p-4">
                <div class="flex align-items-center justify-content-between mb-3">
                  <div class="text-900 font-medium text-xl">Movimentação da primeira quinzena de {{
                    date.toLocaleDateString().substring(3) }}</div>
                  <div>
                    <button pButton pRipple icon="pi pi-ellipsis-v"
                      class="p-button-text p-button-plain p-button-rounded"
                      (click)="calendarDisable();selectedDashReport=month1Dash;menu1.toggle($event)"></button>
                    <p-menu #menu1 [popup]="true" [model]="items" 
                    appendTo="body" (onHide)="calendarEnable()"></p-menu>
                  </div>
                </div>
                <div echarts [options]="month1Dash" [theme]="getTheme()"></div>
              </div>
            </div>

            <div class="col-12 mx-auto">
              <div class="surface-card shadow-2 border-round p-4">
                <div class="flex align-items-center justify-content-between mb-3">
                  <div class="text-900 font-medium text-xl">Movimentação da segunda quinzena de {{
                    date.toLocaleDateString().substring(3) }}</div>
                  <div>
                    <button pButton pRipple icon="pi pi-ellipsis-v"
                      class="p-button-text p-button-plain p-button-rounded"
                      (click)="calendarDisable();selectedDashReport=month2Dash;menu2.toggle($event)"></button>
                    <p-menu #menu2 [popup]="true" [model]="items" 
                    appendTo="body" (onHide)="calendarEnable()"></p-menu>
                  </div>
                </div>

                <div echarts [options]="month2Dash" [theme]="getTheme()"></div>
              </div>
            </div>

          </div>
      </ng-container>

      <ng-container *ngIf="tabOpcoes == 1">
        <ng-container *ngIf="dailyInDash && dailyOutDash" >
          <div class="grid flex justify-content-between md:align-items-center w-full">

            <div class="col-12 mx-auto">
              <div class="surface-card shadow-2 border-round p-4">
                <div class="flex align-items-center justify-content-between mb-3">
                  <div class="text-900 font-medium text-xl">Movimentação de entrada no dia {{
                    date.toLocaleDateString() }}</div>
                  <div>
                    <button pButton pRipple icon="pi pi-ellipsis-v"
                      class="p-button-text p-button-plain p-button-rounded"
                      (click)="calendarDisable();selectedDashReport=dailyInDash;menu3.toggle($event)"></button>
                    <p-menu #menu3 [popup]="true" [model]="items" 
                    appendTo="body" (onHide)="calendarEnable()"></p-menu>
                  </div>
                </div>
                <div echarts [options]="dailyInDash" [theme]="getTheme()"></div>
              </div>
            </div>

            <div class="col-12 mx-auto">
              <div class="surface-card shadow-2 border-round p-4">
                <div class="flex align-items-center justify-content-between mb-3">
                  <div class="text-900 font-medium text-xl">Movimentação de saída no dia {{
                    date.toLocaleDateString() }}</div>
                  <div>
                    <button pButton pRipple icon="pi pi-ellipsis-v"
                      class="p-button-text p-button-plain p-button-rounded"
                      (click)="calendarDisable();selectedDashReport=dailyOutDash;menu4.toggle($event)"></button>
                    <p-menu #menu4 [popup]="true" [model]="items" 
                    appendTo="body" (onHide)="calendarEnable()"></p-menu>
                  </div>
                </div>
                <div echarts [options]="dailyOutDash" [theme]="getTheme()"></div>
              </div>
            </div>

          </div>
        </ng-container>

        <ng-container *ngIf="!(dailyInDash && dailyOutDash)">
          <div class="surface-ground px-4 py-4 md:px-6 lg:px-8 h-full">
            <div
              style="background: radial-gradient(50% 109137.91% at 50% 50%, rgba(233, 203, 30, 0.1) 0%, rgba(254, 253, 244, 0) 100%);"
              class="text-center">
              <span class="bg-surface-50 text-yellow-500 font-bold text-2xl inline-block px-3">Atenção</span>
            </div>
            <div class="mt-6 mb-5 font-bold text-6xl text-900 text-center">Sem registro de movimentações do colaborador
              {{
              user?.nome || 'DESCONHECIDO' }} para o dia selecionado</div>
            <p class="text-700 text-3xl mt-0 mb-6 text-center">Experimente trocar os filtros.</p>
          </div>
        </ng-container>
      </ng-container>


    </div>
  </div>


</ng-container>

<ng-container *ngIf="!isLoaded">
  <div class="surface-ground px-4 py-4 md:px-6 lg:px-8 h-full">
    <div
      style="background: radial-gradient(50% 109137.91% at 50% 50%, rgba(233, 203, 30, 0.1) 0%, rgba(254, 253, 244, 0) 100%);"
      class="text-center">
      <span class="bg-surface-50 text-yellow-500 font-bold text-2xl inline-block px-3">Atenção</span>
    </div>
    <div class="mt-6 mb-5 font-bold text-6xl text-900 text-center">Nenhuma conta encontrada para o colaborador {{
      user?.nome || 'DESCONHECIDO' }}</div>
    <p class="text-700 text-3xl mt-0 mb-6 text-center">Experimente trocar os filtros.</p>
  </div>
</ng-container>