<ion-content appScrollTheme>

  <form [formGroup]="form" (ngSubmit)="$event.preventDefault()">
    <div class="surface-ground px-4 py-6 md:px-6 lg:px-8">
      <div class="text-900 font-medium text-xl mb-1">Criar/Cadastrar</div>

      <div class="surface-card p-4 shadow-2 border-round p-fluid">
        <div class="grid formgrid p-fluid">

          <div class="field mb-4 col-12 md:col-6">
            <label for="solicitante" class="font-medium text-900">Solicitante</label>
            <input id="solicitante" placeholder="Solicitante" type="text" pInputText formControlName="solicitante"
              [readonly]="true">
          </div>
          <div class="field mb-4 col-12 md:col-6">
            <label for="tempo_decorrido" class="font-medium text-900">Tempo decorrido desde a abertura</label>
            <input id="tempo_decorrido" placeholder="Tempo decorrido" type="text" pInputText
              formControlName="tempo_decorrido" [readonly]="true">
          </div>
          <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>

          <div class="field mb-4 col-12 ">
            <label for="status">Status</label>
            <p-dropdown [options]="filtros.status" placeholder="Selecione o status de chamado" formControlName="status"
              (onChange)="changeStatus($event)">
            </p-dropdown>
            <div class="flex mt-1 justify-content-end">
              <p-message severity="error" text="Obrigatório" *ngIf="isInputError('status')"></p-message>
            </div>
          </div>
          <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>

          <div *ngIf="enableAnotacao" class="field mb-4 col-12 ">
            <p-panel header="Anotações de fechamento" [toggleable]="true">
              <div class="p-inputgroup">
                <input #addAnotacaoFechamento type="text"
                  (keyup.enter)="addToList(addAnotacaoFechamento, 'anotacoes_fechamento')" role="textbox"
                  class="p-orderlist-filter-input p-inputtext p-component" placeholder="Anotações de fechamento">
                <button pButton pRipple icon="pi pi-plus"
                  (click)="addToList(addAnotacaoFechamento, 'anotacoes_fechamento')"></button>
              </div>

              <div *ngFor="let t of form.get('anotacoes_fechamento').value" class="mt-3 pt-1">
                <p class="flex justify-content-between">{{ t }}
                  <i class="pi pi-times cursor-pointer" (click)="removeFromList(t, 'anotacoes_fechamento')"></i>
                </p>
                <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
              </div>

              <div *ngIf="isEmptyList('anotacoes_fechamento')" class="mt-3 pt-1">
                <app-attention-surface title="Atenção" subtitle="Sem anotações de fechamento"
                  message="É obrigatório o preenchimento de ao menos um item"></app-attention-surface>
              </div>
            </p-panel>

            <div class="flex mt-1 justify-content-end">
              <p-message severity="error" text="Pelo menos 1 item"
                *ngIf="isInputError('anotacoes_fechamento')"></p-message>
            </div>
            <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
          </div>

        </div>
        <div class="flex justify-content-end">
          <button pButton pRipple label="Salvar" icon="pi pi-send" iconPos="right" class="w-auto" (click)="update()"
            [disabled]="disableCreateBtn()"></button>
        </div>
      </div>
    </div>
  </form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="danger" (click)="fechar()">Fechar</ion-button>
  </ion-toolbar>
</ion-footer>